# quiz_07

## Yue Wang - yw3930

### Instructions

Replace the Name and UNI in cell above and the notebook name

Replace all '____' below using the instructions provided.

When completed, 
 - make sure you've replaced Name and UNI in the first cell and filename (eg: week_08_quiz-hw2592)
 - Click the github link shared on canvas for quiz8 to generate your own repository of quiz8
 - Click your own repository of quiz8 to commit your answers to github

In [1]:
# import numpy as np and pandas as pd
import numpy as np
import pandas as pd

In [10]:
# Read in data from data/week8_housing_data.csv and store as dataframe df.
# This data includes a column datetaime column DocumentDate. 
# Use parse_dates to parse this column into datetimes
# Print df.info() to see the number of rows, column names, column datatypes and amount of missing data.

# df = pd.read_csv('../data/week8_housing_data.csv',parse_dates=['DocumentDate'])
df = pd.read_csv('/Users/yuewang/Desktop/43:Applied DS/week8_housing_data.csv',parse_dates=['DocumentDate'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DocumentDate  1000 non-null   datetime64[ns]
 1   PropertyType  956 non-null    object
 2   SqFtLot       975 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 23.6+ KB

In [6]:
# If we run df.duplicated() we get a vector of booleans that indicate duplicated rows.
# Print df.duplicated() and .sum() to get the number of duplicated rows (there should be 9).

print(f"Duplicated Rows:{df.duplicated()}")

print(f"Number of Duplicated Rows: {df.duplicated().sum()}")

Duplicated Rows:0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool
Number of Duplicated Rows: 9

In [11]:
# Use drop_duplicates() to drop the duplicated rows inplace.
# Check the entire row (subset=None) and keep the first duplicate (keep='first')
df.drop_duplicates(subset=None, keep='first', inplace=True)

# Print df.shape to confirm rows were dropped (num rows should now be 991).
df.shape

(991, 3)

In [12]:
# From the .info() above, we see there are missing values in SqFtLot.
# Before we fill this column, create a new column 'SqFtLot_missing' in df.
# This column should contain integers, 1 for missing, 0 for not missing.
# Use .isna() and .astype(int) to create the 'SqFtLot_missing' column.
df['SqFtLot_missing'] = df['SqFtLot'].isna().astype(int)

# Assert that the sum of the SqFtLot_missing column equals the number of missing values in SqFtLot
assert df['SqFtLot_missing'].sum() == df['SqFtLot'].isna().sum()

# Assert that the dtype of SqFtLot_missing is int
assert df.SqFtLot_missing.dtype == int

In [13]:
# Now fill the missing values in df.SqFtLot with the mean of the SqFtLot column.
# Use .fillna() and .mean()
# Be sure to either use inplace or store back into the existing SqFtLot column.
df['SqFtLot'].fillna(df['SqFtLot'].mean(), inplace=True)

# Assert that the SqFtLot column no longer contains any missing values (number of missing values == 0)
assert df.SqFtLot.isna().sum() == 0

In [14]:
# Standardize the SqFtLot column using the sklearn StandardScaler

# Import StandardScaler from sklearn.preprocessing
from sklearn.preprocessing import StandardScaler

# Use fit_transform() on the SqFtLot column only.
# NOTE: fit_transform requires a 2D matrix. Use df[['SqFtLot']] to pass a dataframe instead of a series.
# Store the transformed values back into a new column 'SqFtLot_scaled' in df.
scaler = StandardScaler()
df['SqFtLot_scaled'] = scaler.fit_transform(df[['SqFtLot']])

# Call .agg(['mean','std']).round(2) on SqFtLot and SqFtLot_scaled columns 
#   to confirm the scaling has operated as expected.
print(df[['SqFtLot','SqFtLot_scaled']].agg(['mean','std']).round(2))

       SqFtLot  SqFtLot_scaled
mean  16335.78            -0.0
std   43717.98             1.0

In [15]:
# There are also missing values in PropertyType.
# Since 'PropertyType' is categorical, let's treat MISSING as another category.
# Fill the empty values in PropertyType with the string 'MISSING'.
# Be sure to either use inplace or store back into the existing PropertyType column.
df.PropertyType.fillna(value='MISSING', inplace=True)

# Call .value_counts() on the PropertyType column 
#   to see how many of each category exist in the dataframe.
df.PropertyType.value_counts()

Single Family    906
MISSING           44
Townhouse         27
Multiplex         14
Name: PropertyType, dtype: int64

In [16]:
# Confirm we have no missing data by asserting that the sum of df.isna() over rows and columns is equal to 0.
assert df.isna().sum().sum() == 0

In [17]:
# Transform the categorical feature PropertyType using pd.get_dummies().
# Note that we can call get_dummies on the entire dataframe and only categorical features will be transformed.
# Store the result back into df
df = pd.get_dummies(df)

# Print out the first 3 rows of df to see the result.
df.head(3)

,DocumentDate,SqFtLot,SqFtLot_missing,SqFtLot_scaled,PropertyType_MISSING,PropertyType_Multiplex,PropertyType_Single Family,PropertyType_Townhouse
0,2006-11-21,34840.0,0,0.423477,0,0,1,0
1,2014-03-20,8428.0,0,-0.180973,0,0,1,0
2,2011-07-26,6000.0,0,-0.236539,0,0,1,0